#line {
    fill: none;
    stroke: darkred;
    stroke-width: 3px;
}

#linechartTitle {
    color: darkRed;
    font-weight: bold;
}
#regionGraphTitle {
    color: darkRed;
    font-weight: bold;
}

div.tooltip {
    position: relative;
	color: #222;
	background-color: #bdbdbd;
    width: 100px;
    height: 50px;
	padding: .5em;
	text-shadow: #f5f5f5 0 1px 0;
	border-radius: 2px;
	opacity: 0.9;
}

div#tooltip-line {
    position: relative;
    width: 80px;
    height: 40px;
    color: #222;
    background-color: #bdbdbd;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
}

.hidden {
    display: none;
}


body {
    background-color: #fcffe8;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 600px 700px 100px;
}

#regionmap-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: sans-serif;
}

#linechart-container {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: 3;
}

#regiongraph-container {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 2;
}

#footer {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: 4;
}

#header {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    font-family: sans-serif;
}

#linechart-placeholder {
    position: center;
    font-family: sans-serif;
}


